<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Inserisci Buffet')"></head>

<body>

	<header th:replace="fragments/base.html :: intestazione"></header>

    <div class="box">
        <button class="btn btn-home" onclick="location.href='/'" type="button">HOME</button>
    </div>
    <h1>Inserisci Buffet</h1>
    <div th:if="${!fromChef}">
    	<form th:action="@{/admin/buffet}" method="post" th:object = "${buffet}">
			<div class="errore" th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">errori generici</p>
			</div>
		
			<div class="campoForm">
				<div><b>Nome</b></div> 
        	    <input type="text" th:field="*{nome}"/>
				<span class="errore" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">errore nome</span>
			</div>	
			<div class="campoForm">
				<div><b>Descrizione</b></div> 
            	<textarea th:field="*{descrizione}" rows="10" cols="50" style="overflow:auto;resize:none"></textarea>
				<span class="errore" th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">errore descrizione</span>
			</div>
			<div class="box">
   	         <button class="btn btn-home" type="submit">Conferma</button>
   	     </div>
		</form>
    </div>
    
    <div th:if="${fromChef}">
    	<form th:action="@{'/admin/chef' + '/' + ${chef.id} + '/buffet'}" method="post" th:object = "${buffet}">
			<div class="errore" th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">errori generici</p>
			</div>
		
			<div class="campoForm">
				<div><b>Nome</b></div> 
        	    <input type="text" th:field="*{nome}"/>
				<span class="errore" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">errore nome</span>
			</div>	
			<div class="campoForm">
				<div><b>Descrizione</b></div> 
            	<textarea th:field="*{descrizione}" rows="10" cols="50" style="overflow:auto;resize:none"></textarea>
				<span class="errore" th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">errore descrizione</span>
			</div>
			<div class="box">
   	         <button class="btn btn-home" type="submit">Conferma</button>
   	     	</div>
		</form>
    </div>

	<footer th:replace="fragments/base.html :: fondo(home='/home')"></footer>
	
</body>
</html>