<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Inserisci Chef')"></head>

<body>

	<header th:replace="fragments/base.html :: intestazione"></header>

    <h1>Inserisci Chef</h1>
    
    <div th:if="${!fromBuffet}">
    	<form th:action="@{/admin/chef}" method="post" th:object = "${chef}">
			<div class="errore" th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">errori generici</p>
			</div>
		
			<div class="campoForm">
				<div><b>Nome</b></div> 
	            <input type="text" th:field="*{nome}"/>
				<span class="errore" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">errore nome</span>
			</div>	
			<div class="campoForm">
				<div><b>Cognome</b></div> 
            	<input type="text" th:field="*{cognome}"/>
				<span class="errore" th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}">errore cognome</span>
			</div>
			<div class="campoForm">
				<div><b>Nazionalit&agrave;</b></div> 
        	    <input type="text" th:field="*{nazionalita}"/>
				<span class="errore" th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}">errore nazionalit&agrave;</span>
			</div>
			<div class="box">
            	<button class="btn btn-home" type="submit">Conferma</button>
        	</div>
		</form>
	</div>
    
    <div th:if="${fromBuffet}">
    <form th:action="@{'/admin/buffet' + '/' + ${buffet.id} + '/chef'}" method="post" th:object = "${chef}">
			<div class="errore" th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">errori generici</p>
			</div>
		
			<div class="campoForm">
				<div><b>Nome</b></div> 
	            <input type="text" th:field="*{nome}"/>
				<span class="errore" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">errore nome</span>
			</div>	
			<div class="campoForm">
				<div><b>Cognome</b></div> 
            	<input type="text" th:field="*{cognome}"/>
				<span class="errore" th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}">errore cognome</span>
			</div>
			<div class="campoForm">
				<div><b>Nazionalit&agrave;</b></div> 
        	    <input type="text" th:field="*{nazionalita}"/>
				<span class="errore" th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}">errore nazionalit&agrave;</span>
			</div>
			<div class="box">
            	<button class="btn btn-home" type="submit">Conferma</button>
        	</div>
		</form>
	</div>

	<footer th:replace="fragments/base.html :: fondo(home='/home')"></footer>        

</body>
</html>