<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Elenco Citt&agrave;')"></head>

<body>

	<header th:replace="fragments/base.html :: intestazione"></header>

	<div>
		<h1>Le citt&agrave;</h1>
		<div class="flexlist">
			<div th:each="citta : ${cittas}">
                <div style="margin: 0px">
				    <h2 class="flextitle" th:text="${citta.nome} + ', ' + ${citta.regione}">nome regione</h2>
                </div>
                <div>
                    <span class="box">
				        <a href="citta.html" th:href="@{'/admin/citta' + '/' + ${citta.id}}" style="text-decoration:none">
                            <button class="btn btn-flex" type="button">Dettagli</button>
                        </a>
                    </span>
                    <span class="box">
				        <a href="citta.html" th:href="@{'/admin/toDeleteCitta' + '/' + ${citta.id}}" style="text-decoration:none">
                            <button class="btn btn-flex" type="button">Cancella</button>
                        </a>
                    </span>
                </div>
			</div>  
		</div>
	</div>
	
	<footer th:replace="fragments/base.html :: fondo(home='/home')"></footer>

</body>
</html>