<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Conferma Rimozione Ingrediente')"></head>

<body>

	<header th:replace="fragments/base.html :: intestazione"></header>

	<div>
		<h2>Conferma Rimozione Ingrediente:</h2>
		<div>
			<span th:text="${ingrediente.nome}">nome</span>
			<span th:text="${ingrediente.descrizione}">descrizione</span>
			<span th:text="${ingrediente.origine}">origine</span>
		</div>
		<div class="box">
			<a href="ingrediente.html" th:href="@{'/admin/piatto' + '/' + ${piatto.id} + '/deleteIngrediente' + '/' + ${ingrediente.id}}">
				<button class="btn btn-home" type="button">Conferma</button>
			</a>
		</div>
	</div>

	<footer th:replace="fragments/base.html :: fondo(home='/home')"></footer>
	
</body>
</html>