<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Conferma Rimozione Chef')"></head>

<body>

	<header th:replace="fragments/base.html :: intestazione"></header>

	<div>
		<h2>Conferma Rimozione Chef:</h2>
		<div>
			<span th:text="${chef.nome}">nome</span>
			<span th:text="${chef.cognome}">cognome</span>
			<span th:text="${chef.nazionalita}">nazionalità</span>
		</div>
		<div class="box">
			<a href="chef.html" th:href="@{'/admin/deleteChef' + '/' + ${chef.id}}">
				<button class="btn btn-home" type="button">Conferma</button>
			</a>
		</div>
	</div>

	<footer th:replace="fragments/base.html :: fondo(home='/home')"></footer>
	
</body>
</html>