<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Dettagli Ingrediente')"></head>

<body>

	<header th:replace="fragments/base.html :: intestazione"></header>

	<div>
		<h4>Dettagli ingrediente</h4>
		<div>
			<span style="font-weight:bold; color:black">Nome: </span>
			<span th:text="${ingrediente.nome}">nome</span>
		</div>
        <div>
			<span style="font-weight:bold; color:black">Descrizione: </span>
			<span th:text="${ingrediente.descrizione}">descrizione</span>
		</div>
        <div>
            <span style="font-weight:bold; color:black">Origine: </span>
			<span th:text="${ingrediente.origine}">origine</span>
		</div>
	</div>

	<footer th:replace="fragments/base.html :: fondo(home='/home')"></footer>
	
</body>
</html>