<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Inserisci Piatto')"></head>

<body>
    
	<header th:replace="fragments/base.html :: intestazione"></header>

    <h1>Inserisci Piatto</h1>
    <form th:action="@{'/admin/buffet' + '/' + ${buffet.id} + '/piatto'}" method="post" th:object = "${piatto}">
		<div class="errore" th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">errori generici</p>
		</div>
		
		<div class="campoForm">
			<div><b>Nome</b></div> 
            <input type="text" th:field="*{nome}"/>
			<span class="errore" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">errore nome</span>
		</div>	
		<div class="campoForm">
			<div><b>Descrizione</b></div> 
            <textarea th:field="*{descrizione}" rows="10" cols="50" style="overflow:auto;resize:none"></textarea>
			<span class="errore" th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">errore descrizione</span>
		</div>
		<div class="box">
            <button class="btn btn-home" type="submit">Conferma</button>
        </div>
	</form>
    
        
	<footer th:replace="fragments/base.html :: fondo(home='/home')"></footer>
</body>
</html>