<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Elenco Servizi')"></head>

<body>

	<header th:replace="fragments/base.html :: intestazione"></header>

	<div>
		<h4>Elenco servizi:</h4>
		<ul>
			<li th:each="servizio : ${servizi}">
				<span th:text="${servizio.nome}">nome</span>
				<span th:text="${servizio.descrizione}">descrizione</span>
				<a href="servizio.html" th:href="@{'/admin/servizio' + '/' + ${servizio.id}}" th:text="dettagli">dettagli</a>
				<a href="servizio.html" th:href="@{'/admin/toDeleteServizio' + '/' + ${servizio.id}}" th:text="cancella">cancella</a>
			</li>
		</ul>
	</div>
	
	<footer th:replace="fragments/base.html :: fondo(home='/home')"></footer>
	
</body>
</html>