<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Dettagli Chef')">
</head>

<body>

	<header th:replace="fragments/base.html :: intestazione"></header>

	<div>
		<h1 th:text="${chef.nome} + ' ' + ${chef.cognome}">Nome Cognome</h1>
        <div>
			<span style="font-weight:bold; color:black">Nazionalit&agrave;: </span>
			<span th:text="${chef.nazionalita}">nazionalit&agrave;</span>
		</div>
        <h2>Buffet proposti dallo chef: </h2>
		<div class="flexlist">
			<div th:each="buffet : ${chef.buffets}">
                <div style="margin: 0px">
				    <h2 class="flextitle" th:text="${buffet.nome}">nome</h2>
                </div>
                <div style="margin: 0px">
				    <p th:text="${buffet.descrizione}">descrizione</p>
                </div>
                <div>
                    <span class="box">
				        <a href="buffet.html" th:href="@{'/buffet' + '/' + ${buffet.id}}" style="text-decoration:none">
                            <button class="btn btn-flex" type="button">Dettagli</button>
                        </a>
                    </span>
                </div>
			</div>  
		</div>
	</div>
    
    <footer th:replace="fragments/base.html :: fondo(home='/home')"></footer>

</body>
</html>