<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Dettagli Piatto')"></head>

<body>

	<header th:replace="fragments/base.html :: intestazione"></header>

	<div>
		<h1 th:text="${piatto.nome}">Nome</h1>
        <div>
			<span style="font-weight:bold; color:black">Descrizione: </span>
			<span th:text="${piatto.descrizione}">descrizione</span>
		</div>
        <h2>Ingredienti: </h2>
		<div class="flexlist">
			<div th:each="ingrediente : ${piatto.ingredienti}">
                <div style="margin: 0px">
				    <h2 class="flextitle" th:text="${ingrediente.nome}">nome</h2>
                </div>
                <div style="margin: 0px">
				    <p th:text="${ingrediente.descrizione}">descrizione</p>
                </div>
                <div>
                    <span class="box">
				        <a href="ingrediente.html" th:href="@{'/ingrediente' + '/' + ${ingrediente.id}}" style="text-decoration:none">
                            <button class="btn btn-flex" type="button">Dettagli</button>
                        </a>
                    </span>
                </div>
			</div>  
		</div>
	</div>
    
  	<footer th:replace="fragments/base.html :: fondo(home='/home')"></footer>
</body>
</html>